# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
dist
# Allow widget pre-built dist to be committed
!packages/widget/dist
*.js.map
.turbo

# Environment
.env
.env.local
.env.*.local

# Misc
.DS_Store
*.pem
.vercel
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Drizzle
drizzle/meta

# Turbo
.turbo
